html,
body{
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a{
  text-decoration: none;
  color: #283136;
  outline: none;
}

.main-navigation{
  background-color: #eeeeee;
}

.our-projects-item img{
  opacity: 0.2;
}

.main-navigation-header-logo img:hover,
.main-navigation-header-logo img:focus{
  opacity: 0.8;
}

.main-navigation-header-logo img:active{
  opacity: 0.3;
}

.main-navigation a{
  font-weight: 700;
  text-transform: uppercase;
}

.site-navigation{
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #fb565a;
}

.site-navigation a:active{
  color: rgba(0, 0, 0 , 0.3);
}

.main-info{
  background-color: #eeeeee;
}

.main-info-item b{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.button{
  display: inline-block;
  width: 240px;
  line-height: 50px;
  background-color: #fb565a;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px;
}

.button:hover,
.button:focus{
  background-color: #e74246;
}

.button:active{
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-menu-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.app-button{
  background-color: #00ca74;
}

.app-button:hover,
.app-button:focus{
  background-color: #00bc6c;
}

.app-button:active{
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.presentation-button{
  background-color: #efc84a;
}

.presentation-button:hover,
.presentation-button:focus{
  background-color: #eab534;
}

.presentation-button:active{
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.about-us-info-caption{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us-features-caption-one{
  font-weight: 700;
  text-transform: uppercase;
}

.about-us-features-text{
  list-style: none;
}

.about-us-features-caption-two{
  font-weight: 700;
  text-transform: uppercase;
}

.about-us-features-table-item b{
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
}

.our-projects-list{
  list-style: none;
}

.about-us-features-table-item{
  line-height: 18px;
}

.our-projects-item img:hover
{
  opacity: 1.0;
}

.our-projects-item img:focus{
  opacity: 1.0;
}

.our-projects-item img:active{
  opacity: 0.1;
}

.footer-contacts h2{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contacts p{
  line-height: 18px;
}

.footer-social-list{
  list-style: none;
}

.footer-social-list-item a{
  display: inline-block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-align: center;
  line-height: 79px;
}

.footer-social-list-item img{
  vertical-align: middle;
}

.footer-social-list-item a:hover,
.footer-social-list-item a:focus{
  background-color: #e74246;
}

.footer-social-list-item a:active{
  background-color: #d7373b;
}

.footer-social-list-item a:active img{
  opacity: 0.3;
}

.footer-social b{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social p{
  line-height: 22px;
}

.modal-contacts b{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-contacts-form label{
  line-height: 18px;
  font-weight: 700;
}

.modal-contacts-form input,
.modal-contacts-form textarea{
  border: 2px solid #d7dcde;
  border-radius: 4px;

  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;
}

.input-area-name,
.input-area-mail{
  width: 356px;
  /*height: 46px;*/
}

.input-area-letter{
  padding-top: 10px;
  width: 756px;
  /*height: 114px;*/

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
}

.modal-contacts-form input:hover{
  border-color: #b4b9bb;
}

.modal-contacts-form input:focus{
  border-color: #000000;
  outline: none;
}
